[Unit]
Description=sowerd server service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sowerd
Environment="FAKE_SITE=127.0.0.1:8080"
Environment="PASSWORD=I_am_Passw0rd"
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target