[Unit]
Description=Sower client service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/sower -f /etc/sower/sower.toml
RestartSec=3
Restart=on-failure
