[Unit]
Description=sower client service
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/sower
ExecStart=/usr/local/bin/sower -c /etc/sower/sower.hcl
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target