[Unit]
Description=Sower server service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=nobody
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/sower -n TCP -v 1
RestartSec=3
Restart=on-failure
